<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us</title>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <script src="{% static 'js/home.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
<p>
    About
[groupphoto.midi]
caption: Pictured above: Matthew Swartz, Thomas Raddatz, Dan Jelf, Thomas Blackwell, and Adam Lentz
"DOMAINION" is a domain name suggestion engine built by Team Interpered Language Apologiests for Dominion Enterprises' Hack U 6 Hackathon.  The web app was built in a 48 hour period by a team from The College of William and Mary.  "DOMAINION" is built in Python with a Django framework and takes search queries and selected top level domain lists and returns a list of relevant available domain names to the user.
Relevent APIs Used:
Geonames
Google Maps
Datamuse
NameStudio by Verisign
</p>

</body>
</html>