{% load staticfiles %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Domain Project</title>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <script src="{% static 'js/home.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

</head>

<body>

<!-- Page Header -->
<div class="jumbotron text-center">
    <h1>Domain Search</h1>
    <p>Enter a query</p>

    <form class="form-inline" method="get" action="/results" id="search">
        <div class="input-group">
            <input type="searchContent" name="search" class="form-control" size="50" placeholder="Search Term" required>
            <div class="input-group-btn">
                <button name="domain" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Domain
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">.autos</a></li>
                    <li><a href="#">.boats</a></li>
                    <li><a href="#">.homes</a></li>
                    <li><a href="#">.yachts</a></li>
                    <li><a href="#">.motorcycles</a></li>
                </ul>
                <button type="submit" class="btn btn-danger" id="goButton" form="search" value="Submit">Go!</button>
            </div>
        </div>
    </form>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">W&M Team One</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">About</a></li>
                <li><a href="#services">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>



<!-- Google Maps garbage to take up space -->
<div id="googleMap" style="width:100%;height:400px;"></div>
<script>
    function myMap() {
        var myCenter = new google.maps.LatLng({{lat}}, {{lng}});
        var mapCanvas = document.getElementById("googleMap");
        var mapOptions = {center: myCenter, zoom: 10};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position: myCenter});
        marker.setMap(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsr3HBQSVk4-HtwgsPiPyRJKpql1vt_Ok &callback=myMap"></script>

<!-- footer -->
<footer class="container-fluid text-center">
    <p>2018</p>
</footer>

</body>
</html>