html,body{
    height: 100%
}

body{
    /*background-color: #C5C6C7;*/
    background-color: #1F2833;
}

.jumbotron {
    background-color: #1F2833;
    font-family: 'Space Mono', monospace;
}

input{
    font-family: 'Oswald', sans-serif;
}


.navbar {
    margin-bottom: 0;
    border: 0;
    font-size: 15px !important;
    background-color: #0B0C10;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand{
    color: #C5C6C7 !important;
    font-family: 'Space Mono', monospace;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FF8370 !important;
    background-color: #C5C6C7!important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.footer{
    font-size: 20px;
    margin-bottom: 20px;

}

.list-group-item{
    filter: alpha(opacity=50);
    border-color: #66FCF1;
    background-color: rgba(118, 119, 120, 0.26);
    color:#fff;
}