.jumbotron {
    background-color: #ff8370;
    color: #ffffff;
}

.navbar {
    margin-bottom: 0;
    background-color: #ff8370;
    border: 0;
    font-size: 12px !important;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand{
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #a04f43 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.footer{
    font-size: 20px;
    margin-bottom: 20px;
}
